## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1=random.sample(range(101), k=80)
print(sample_list_1)

[83, 87, 61, 47, 81, 38, 53, 46, 58, 30, 9, 85, 97, 59, 24, 49, 71, 74, 15, 20, 18, 94, 6, 34, 67, 76, 89, 60, 50, 19, 90, 80, 93, 63, 31, 14, 64, 54, 2, 68, 56, 25, 3, 86, 11, 100, 21, 45, 22, 70, 91, 57, 88, 28, 17, 69, 27, 44, 32, 42, 29, 4, 16, 55, 10, 48, 26, 36, 23, 72, 75, 62, 99, 92, 84, 78, 41, 51, 1, 0]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1=set(sample_list_1)
print(set1)
len(set1)==80

{0, 1, 2, 3, 4, 6, 9, 10, 11, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 36, 38, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 67, 68, 69, 70, 71, 72, 74, 75, 76, 78, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 97, 99, 100}

True

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 =[]
for i in range(80):
    sample_list_2.append (random.randint(0, 101))
print (sample_list_2)

[74, 55, 26, 46, 30, 30, 87, 20, 55, 45, 7, 72, 43, 71, 5, 66, 39, 38, 38, 5, 86, 99, 59, 35, 13, 1, 43, 82, 9, 54, 73, 58, 92, 48, 59, 57, 55, 30, 26, 20, 88, 96, 58, 53, 60, 20, 63, 89, 38, 66, 95, 46, 63, 83, 59, 54, 65, 46, 26, 52, 74, 35, 6, 65, 56, 73, 44, 25, 27, 55, 41, 95, 53, 33, 67, 57, 29, 55, 8, 23]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2=set(sample_list_2)
print(len(set2))

51

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
list3=[]
for i in set1:
    if not i in set2:
        list3.append(i)
    else:
        pass
set3=set(list3)
print(set3)

{0, 2, 3, 4, 10, 11, 14, 15, 16, 17, 18, 19, 21, 22, 24, 28, 31, 32, 34, 36, 42, 47, 49, 50, 51, 61, 62, 64, 68, 69, 70, 75, 76, 78, 80, 81, 84, 85, 90, 91, 93, 94, 97, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
list4=[]
for i in set2:
    if not i in set1:
        list4.append(i)
    else:
        pass
set4=set(list4)
print(set4)

{96, 33, 65, 35, 66, 5, 7, 8, 39, 73, 43, 13, 82, 52, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
list5=[]
for i in set1:
    if i in set2:
        list5.append(i)
    else:
        pass
set5=set(list5)
print(set5)

{1, 6, 9, 20, 23, 25, 26, 27, 29, 30, 38, 41, 44, 45, 46, 48, 53, 54, 55, 56, 57, 58, 59, 60, 63, 67, 71, 72, 74, 83, 86, 87, 88, 89, 92, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here

print(len(set1)==len(set3)+len(set5))
print(len(set2)==len(set4)+len(set5))
print(len(set3)==len(set1)-len(set5))
print(len(set4)==len(set2)-len(set5))
print(len(set5)==len(set1)-len(set3))

True
True
True
True
True

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6=set(list())
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set6.update(set3,set5)
print(set6)

{0, 1, 2, 3, 4, 6, 9, 10, 11, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 36, 38, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 67, 68, 69, 70, 71, 72, 74, 75, 76, 78, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 97, 99, 100}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here
set2.issubset(set1)
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here
set345=set3|set4|set5
set34512=set345|set4|set5
set345==set34512

True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here
list1=list(set1)
list1.pop(0)
set1=set(list1)
print(set1)

{1, 2, 3, 4, 6, 9, 10, 11, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 36, 38, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 67, 68, 69, 70, 71, 72, 74, 75, 76, 78, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 97, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [32]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in list1:
        list1.remove(i)
print(list1)

[2, 3, 4, 6, 10, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 34, 36, 38, 42, 44, 45, 46, 47, 48, 50, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 67, 68, 70, 72, 74, 75, 76, 78, 80, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 97, 100]